body {
    text-align: center;
    background-color: rgb(114, 161, 142);
}

#kor {
    animation-name: pattog;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes pattog {
    0% {cx: 50px; }
    50% {cx: 500px;}
}